/// Color variables
$bg-white:rgba(248, 248, 248, 1);
$bg-transparent: rgba(248, 248, 248, 0);
$text-white: rgba(255, 255, 255, 1);
$text-black: rgba(0, 0, 0, 1);
$text-grey: rgba(143, 143, 145, 1);
$bg-grey:rgba(65, 66, 70, 1);
$text-orange: rgba(247, 140, 137, 1);
$title-orange: rgba(255, 84, 56, 1);
$bg-dark-grey: rgba(62, 62, 62, 1);
$title-grey: rgba(89, 89, 89, 1);
$line-color: rgba(160, 64, 56, 1);
$border-color: rgba(248, 248, 248, 1);
$bg-orange: rgba(255, 79, 56, 1);
