.icon-menu {
    width: fit-content;

    &__bar {
        border: solid $text-grey 3px;
        width: 100%;
        height: 5px;
        margin-right: 20px;
        margin-left: 10px;
    }
}

.navbar {
    visibility: hidden;
    display: flex;
    @include flexbox (row, nowrap, space-around,start);
}